/* 头部 */
body {
    background-color: #000;
}
.zh_topBar {
    background-color: #fff;
}

.zh_topBar a {
    color: #000;
    font-size: 18px;
}

.zh_topBar a i {
    color: #000;
    font-size: 18px;
    margin-left: 10px;
}

.zh_topBar span {
    color: #000;
    font-size: 17px;
}

.zh_container {
    margin-top: 45px;
}

.c_name {
    width: 100%;
    border-bottom: 1px solid #8b8b8b;
    padding: 8px;
}
.c_name:last-child {
    border: none;
}
.c_name span {
    color: #bbb;
}
