body {
    background-color: #fff;
}
/* 头部 */
.zh_topBar {
    /* background-color:#d93f3f; */
}
.zh_topBar a {
    color: #000;
    font-size: 17px;
}
.zh_topBar a i {
    color: #000;
    font-size: 18px;
    margin: 0 10px;
}

.zh_topBar span {
    color: #000;
    font-size: 17px;
}
.zh_container {
    margin-top: 45px;
}
.zh_container ul {
    background-color: #f1f1fb;
}
.zh_container ul li {
    margin-top: 10px;
    background-color: #fff;
}
.mui-media-body {
	font-size: 16px;
	color: #505050;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.qy img {
    width: 46px;
    border-radius: 50%;
}
.qy_name {
}
.item_flex {
	display: flex;
	color: #a0a0a0;
	align-items: center;
}
.item_flex>.flex {
    padding-right: 10px;
    height: 18px;
	font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin: 0 3px;
    border-right: 1px solid #ccc;
}
.item_flex>.flex:last-child {
    border: none;
}
.qy_info {
    margin-top: 5px;
}
.qy_info .zbxx i {
    color: #f2504e;
}
.mui-table-view:before,.mui-table-view:after {
    background-color: #fff;
}
.mui-table-view-cell {
    padding: 10px 15px;
}