body {
    background-color: #f1f1fb;
}
.zh_topBar a i {
    color: #000;
    font-size: 18px !important;
}
.zh_topBar span {
    color: #000;
    font-size: 17px;
}
/*  */
.qy {
    
}
.qy_title {
    background-color: #fff;
    margin-top: 44px;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.qy_info {
    background-color: #fff;
}
.qy_title .qyt_name {
    height: 50px;
    padding: 10px;
}
.qy_title .qyt_name img {
    width: 46px;
}
.qy_title .qyt_name .qyt {
    margin-left: 8px;
}
.qy_title .qyt_name .qyt div:first-child {
    color: #202020;
    font-size: 16px;
}
.qy_title .qyt_name .qyt div:last-child {
    color: #f12727;
    font-size: 14px;
    width: 36px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #f12727;
    border-radius: 5px;
}
.gz {
    width: 50px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #f12727;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
}
.company {
    padding: 10px;
}
.company .c_name {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}
.company .c_name span {
    color: #202020;
    font-size: 16px;
}
.company .c_address {
    margin-top: 10px;
}
.c_address span {
    color: #202020;
    margin-right: 8px;
}
.c_product {
    position: relative;
}
.index_title {
    padding: 15px 10px;
    margin-top: 10px;
	height: 50px;
	color: #202020;
	background-color: #fff;
	font-size: 16px;
	border-bottom: 1px solid #f3f3f3;
}
.mui-media-body {
	width: 100%;
	white-space: normal; 
}
.mui-media-body>span {
    color: #202020;
    font-size: 16px;
}
.mui-table-view {
    background-color: #f1f1fb;
}
.mui-table-view li {
    margin-top: 10px;
    background-color: #fff;
}
.mui-table-view li img {
    width: 14px;
	height: 14px;
	margin-top: -4px;
	margin-right: 2px;
}
.item_flex {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.item_flex>.flex {
	font-size: 13px;
	line-height: 24px;
	margin-right: 8px;
	padding: 1px 6px;
	background-color: #f6f6f6;
	border-radius: 5px;
}
.item_flex>.flex:first-child span {
	color: #f16363;
}
.item_flex>.flex:nth-child(2) span {
	color: #7384e2;
}
.item_flex>.flex:last-child span {
	color: #38a721;
}
.mui-table-view:before {
    background-color: #fff;
}