body {
    background-color: #f1f1fb;
}
/* 头部 */
.zh_topBar {
    position: relative;
    height: 100px;
    background: url(../img/grzxbg.jpg) no-repeat;
    background-size: cover;
}
.zh_topBar a img {
    width: 100px;
    margin-right: 15px;
}
/* 个人信息 */
.user {
    position: absolute;
    top: 60px;
    width: 90%;
    height: 90px;
    margin: 0 19px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #ccc;
    background-color: #fff;
    z-index: 2000000;
}

.user>a {
    margin-top: 30px;
}
.user .user_info {
    margin-top: 24px;
    margin-left: 17px;
}
.user .user_info h4 {
    color: #202020;
    font-size: 19px;
    width: 150px;
    height: 30px;
    margin: 0;
    text-overflow:ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.user .user_info span {
    color: #b5b5b5;
    font-size: 15px;
}
.user .img {
    width: 50px;
    border-radius: 30px;
    margin-top: 21px;
    margin-left: 12px;
}
.zh_container {
    margin-top: 55px;
    margin-bottom: 55px;
}

.index_menu {
	justify-content: space-around;
	display: flex;
	background: #ffffff;
	height: 80px;
}

.index_menu li img {
	width: 24px;
	height: 24px;
}

.index_menu li {
	font-size: 14px;
	display: block;
	padding: 10px 0;
	text-align: center;
}
.index_menu li a p {
    margin-top: 5px;
    font-size: 14px;
    color: #202020;
}
ul.mui-table-view {
    margin-top: 10px;
}
.mui-table-view:before,
.mui-table-view:after {
    background-color: #fff;
}
.mui-table-view-cell>a:not(.mui-btn) {
    height: 47px;
    line-height: 30px;
    font-size: 16px;
    color: #646464;
}
.mui-table-view-cell>a>img {
    width: 22px;
    margin-right: 10px;
}
.mui-btn {
    margin-top: 10px;
    height: 40px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    border-radius: 23px;
    letter-spacing: 5px;
    background-color: #d93f3f;
    color: #fff;
}
.mui-switch.mui-active {
    border: #d93f3f;
    background-color: #d93f3f;
}
