body {
    background-color: #ededed;
}
.zh_topBar a {
    color: #000;
    font-size: 17px;
}
.zh_topBar a i {
    color: #000;
    font-size: 18px;
    margin: 0 10px;
}
.zh_topBar span {
    color: #000;
    font-size: 17px;
}
.zh_topBar div {
    margin-right: 10px;
}
.person_info {
    margin-top: 45px;
    padding: 10px;
    border-top: 1px solid #fff;
}
.info {
    width: 100%;
    height: 100px;
    background: url(../img/yhqbgwsy.png) no-repeat ;
    background-size: cover;
    margin-top: 15px;
    position: relative;
}
.info .left {
    width: 26%;
    padding: 10px 0;
    text-align: center;
    margin-top: 15px;
}
.info .left div {
    color: #989898;
}
.info .left div:first-child {
    color: #f34f4f;
    font-size: 12px;
}
.info .left i {
    color: #f34f4f;
    font-size: 24px;
    font-weight: 700;
}
.info .right {
    padding: 16px 0 16px 16px;
}
.info .right div {
    color: #989898;
}
.info .right div:first-child {
    color: #f34f4f;
    font-size: 16px;
    font-weight: 700;
}
.info img {
    width: 60px;
    position: absolute;
    right: 20px;
}
.info_gq.info {
    background: url(../img/yhqbggq.png) no-repeat;
    background-size: cover;
}

.info_gq.info .left div {
    color: #989898;
}

.info_gq.info .left i {
    color: #989898;
}
.info_gq.info .right div {
    color: #989898;
}
/* 弹出层 */
.mask1 {
    position: fixed;
    top: 45px;
    z-index: 998;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: none;
    /* position: relative; */
}
.m_content1 {
    width: 60%;
    height: 267px;
    background-color: #fff;
    margin: 150px auto;
    border-radius: 6px;
    overflow: auto;
}
.m_content1 div {
    padding: 5px 10px;
}
.mask1 i {
    position: absolute;
    top: 120px;
    right: 10%;
    color: #fff;
    font-size: 36px;
}