.zh_container {
    width: 100%;
    height: 100%;
    position: relative;
}
/* 未订阅 */
.wdy {
    position: absolute;
    top: 200px;
    left: 130px;
}
.wdy img {
    width: 110px;
}
.not_sub {
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f2504e;
}
.not_sub a {
    text-align: center;
    color: #fff;
    font-size: 17px;
}