body {
	background-color: #f2f2f3;
}
.mui-content {
	margin-bottom: 60px;
}
.header {
	width: 100%;
	height: 178px;
	background: url(../img-v5/index_bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}
/* 今日更新数据 */
.update {
	width: 80%;
	padding-top: 16%;
	padding-left: 15%;
}
.update>div {
	font-size: 12px;
	color: #fefedf;
	text-align: center;
}
.update>div:last-child {
	height: 30px;
	line-height: 30px;
}
.update .txt {
	height: 30px;
	line-height: 30px;
}
.update .number {
	color: #f2504e;
	background-color: #fefedf;
	margin: 0 4px;
	width: 20px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 20px;
}
/* 搜索框 */
.search {
	width: 90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #fff;
	margin-top: 10px;
	border-radius: 20px;
	margin-left: 5%;
}
.search img {
	width: 15px;
}
.search span {
	color: #969696;
}
/* 中间部分 */
.mid {
	margin-top: -20px;
}
/* 服务分类 */
.index_menu {
	justify-content: space-around;
	display: flex;
	background: #ffffff;
	height: 112px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0px 7px 16px #ebebeb;
	border-radius: 10px;
}

.index_menu li img {
	width: 50px;
	height: 50px;
}

.index_menu li {
	padding: 14px 0;
	text-align: center;
}

.index_menu li p {
	margin-top: 6px;
	font-size: 14px;
	color: #696965;
}
/* 点击最多 */
.more_click {
	background: #ffffff;
	height: 112px;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	border-radius: 10px;
	padding: 10px;
}
.c_title img {
	width: 18px;
	height: 15px;
}
.c_title span {
	color: #505050;
	margin-left: 5px;
	font-weight: 700;
}
.m_cont {
	width: 100%;
}
.m_cont .c_title {
	margin-top: 10px;
	margin-right: 9%;
}
.m_cont .c_title span {
	font-weight: 400;
}
/* 搜索排行 */
.s_title {
	width: 40%;
	height: 30px;
	background-color: #f5f5f5;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 15px;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
}
.m_cont .s_title:first-child,.m_cont .s_title:nth-child(2) {
	margin-top: 25px;
}
.s_title a {
	color: #505050;
	font-size: 14px;
}


/* 弹出层 */
.mask {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	z-index: 20000;
	display: none;
}

.mask.active {
	display: block;
}

/* 立即订阅弹出层 */

.m_content {
	width: 68%;
	height: 320px;
	margin: 150px auto;
	border-radius: 6px;
	position: relative;
	padding: 5px;
}

.m_content img {
	width: 100%;
}

.m_content i {
	position: absolute;
	top: -26px;
	right: -26px;
	color: #fff;
	font-size: 36px;
}

.m_content .info {
	display: flex;
	justify-content: space-around;
}

.m_content .info p {
	color: #202020;
	font-size: 14px;
}

.m_content .ljdy {
	padding: 8px 15px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background-color: #f2504e;
	border-radius: 5px;
	margin-top: 20px;
}

/* 未开通会员弹出层 */

.m_content1 {
	width: 85%;
	height: 400px;
	/* background: url(../img/wktyh.png) no-repeat;
	background-size: cover; */
	margin: 150px auto;
	border-radius: 6px;
	position: relative;
}
.m_content1 img {
	width: 100%;
}
.m_content1 i {
	position: absolute;
	top: -26px;
	right: -26px;
	color: #fff;
	font-size: 36px;
}

.m_content1 .kthy {
	position: absolute;
	top: 88%;
	left: 30%;
	text-align: center;
}

.m_content1 .kthy span {
	display: inline-block;
	padding: 5px 30px;
	color: #fff8b0;
	border-radius: 15px;
	background-color: #f2504e;
}

/* 新用户大礼包弹出层 */

.m_content2 {
	width: 90%;
	height: 600px;
	background: url(../img/xrlq5zh.png) no-repeat;
	background-size: cover;
	margin: 30px auto;
	border-radius: 6px;
	position: relative;
}

.m_content2>i {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	font-size: 36px;
}

.m_content2 .kthy {
	margin-top: 10px;
	text-align: center;
}

.m_content2 .kthy span {
	display: inline-block;
	padding: 5px 30px;
	color: #f2504e;
	border-radius: 15px;
	background-color: #fff8b0;
}

.m_content2 .one {
	padding: 0 20px;
	padding-top: 110px;
}

.one .info {
	width: 100%;
	height: 60px;
	background: url(../img/xrlq.png) no-repeat;
	background-size: cover;
	margin-top: 10px;
}

.one .info .left {
	text-align: center;
	margin-top: 10px;
}

.one .info .left div {
	color: #989898;
	font-size: 12px;
	margin-left: 5px;
}

.one .info .left div:first-child {
	color: #f34f4f;
	font-size: 12px;
}

.one .info .left i {
	color: #f34f4f;
	font-size: 16px;
	font-weight: 700;
}

.one .info:first-child {
	background: url(../img/ty1t.png) no-repeat;
	background-size: cover;
}

.one .info:first-child .left div {
	color: #f34f4f;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 10px;
}

.one .info:first-child .left div i {
	font-size: 14px;
}

.one .info .right {
	margin-top: 10px;
	margin-left: 35px;
}

.one .info .right div {
	color: #989898;
	font-size: 12px;
}

.one .info .right div:first-child {
	color: #202020;
	font-size: 14px;
}

.one .info:first-child .right {
	margin-left: 50px;
}

/* 订阅未付费地区弹出层 */

.m_content3 {
	width: 100%;
	height: 400px;
	background: url(../img/wktcs.png) no-repeat;
	background-size: cover;
	margin: 100px auto;
	border-radius: 6px;
	position: relative;
	text-align: center;
}

.m_content3 i {
	position: absolute;
	top: -26px;
	right: 0px;
	color: #fff;
	font-size: 36px;
}

.m_content3 .address {
	padding: 0 35px;
	/* text-align: center; */
}

.m_content3 .address>span {
	display: inline-block;
	color: #f34f4f;
	width: 25%;
	padding: 2px 12px;
	background-image: linear-gradient(#fffadd, #dcd69c);
	border-radius: 3px;
	margin: 10px 10px;
	margin-top: 0;
	margin-right: 0;
}

.m_content3 .address>div {
	line-height: 26px;
	color: #fdffc4;
}

.m_content3>p {
	color: #fdffc4;
	margin-top: 10px;
	font-size: 14px;
}

.m_content3>p:nth-child(2) {
	padding-top: 175px;
}

.m_content3 .kthy {
	margin-top: 10px;
	text-align: center;
}

.m_content3 .kthy span {
	display: inline-block;
	padding: 5px 65px;
	color: #f2504e;
	border-radius: 15px;
	background-image: linear-gradient(#fffadd, #dcd69c);
}

/*  */

.m_content4 {
	width: 90%;
	margin: 150px auto;
	border-radius: 6px;
	position: relative;
}

.m_content4 img {
	width: 100%;
}

.m_content4 i {
	position: absolute;
	top: -40px;
	right: -6px;
	color: #fff;
	font-size: 36px;
}

.m_content4 .kthy {
	text-align: center;
	position: absolute;
	top: 80%;
	left: 25%;
}

.m_content4 .kthy span {
	display: inline-block;
	padding: 5px 30px;
	color: #f2504e;
	border-radius: 15px;
	background-color: #fff8b0;
}
.m_content5 {
	width: 90%;
	margin: 150px auto;
	border-radius: 6px;
	position: relative;
}

.m_content5 img {
	width: 100%;
}

.m_content5 i {
	position: absolute;
	top: -40px;
	right: -6px;
	color: #fff;
	font-size: 36px;
}

.m_content5 .kthy {
	position: absolute;
	top: 80%;
	left: 20%;
}
.m_content5 .kthy img {
	width: 220px;
}
.m_content6 {
	width: 80%;
	margin: 200px auto;
	border-radius: 6px;
	position: relative;
}

.m_content6 img {
	width: 100%;
}

.m_content6 i {
	position: absolute;
	top: -40px;
	right: -20px;
	color: #fff;
	font-size: 36px;
}

@media screen and (max-width: 414px) {
	.m_content2 .one {
		padding-top: 122px;
	}
	.m_content3 {
		height: 480px;
	}
	.m_content3>p:nth-child(2) {
		padding-top: 220px;
	}
	.m_content1 .kthy {
		top: 90%;
	}
	.m_content {
		height: 350px;
	}
}

@media screen and (max-width: 411px) {
	.m_content3 {
		height: 480px;
	}
	.m_content3>p:nth-child(2) {
		padding-top: 220px;
	}
}

@media screen and (max-width: 375px) {
	.m_content2 .one {
		padding-top: 110px;
	}
	.m_content3 {
		height: 436px;
	}
	.m_content3>p:nth-child(2) {
		padding-top: 195px;
	}
	.m_content1 .kthy {
		top: 85%;
	}
	.m_content {
		height: 320px;
	}
}

@media screen and (max-width: 360px) {
	.one .info:first-child .right {
		margin-left: 42px;
	}
	.one .info .right {
		margin-left: 28px;
	}
	.one .info {
		margin: 0 5px;
		margin-top: 10px;
	}
	.m_content3 {
		width: 100%;
		height: 419px;
	}
	.m_content3 i {
		right: 0px;
	}
	.m_content1 .kthy {
		top: 80%;
	}
}
.shu {
	position: fixed;
	right: 0;
	top: 350px;
}
.shu img {
	width: 120px;
	/* animation: shudong 6s linear infinite alternate; */
}
.shu>a {
	position: relative;
}
#jsi-particle-container {
	background-color: #fff;
	position: absolute;
	right: -18px;
	top: 25px;
	z-index: -2;
}
#jsi-particle-container img {
	width: 70px;
}
@keyframes shudong {
	0% {
        transform: rotateY(0deg);
    }
    50% {
        
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
